@import "../../../styles/variables";

.action-card {
	padding: 20px;
	width: 1160px;
	box-sizing: border-box;
	border-left: 4px solid $color-accent-success;
	border-radius: 12px;
	box-shadow: 0px 4px 12px 0px $bg-image-overlay;
	background: $bg-primary;

	&__content {
		display: flex;
		flex-direction: column;
		gap: 15px;
		margin-bottom: 30px;
	}

	&__question {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 10px;
	}

	&__icon {
		width: 22px;
		height: 22px;

		&--question {
			background: url("../../../../public/images/svg/green/question.svg") no-repeat center;
		}

		&--care {
			background: url("../../../../public/images/svg/green/care.svg") no-repeat center;
		}
	}

	&__title {
		font-size: 18px;
		font-weight: 700;
		color: $color-accent-success;
	}

	&__description {
		font-size: 17px;
		font-weight: 400;
		line-height: 27.2px;
		letter-spacing: 0%;
		color: $color-secondary;
	}

	&__button {
		width: 100%;
		height: 64px;
		border-radius: 8px;
		padding: 18px 30px 19px 30px;

		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0%;
		color: $color-inverse;

		transition:
			transform 0.15s ease,
			box-shadow 0.15s ease;

		&:hover {
			transform: translateY(-2px);
			box-shadow: 0 4px 12px $bg-image-overlay;
		}

		&--green {
			background: $color-accent-success;
		}

		&--orange {
			background: $color-accent-orange;
		}
	}
}

@media (max-width: 1200px) {
	.action-card {
		width: 95%;
	}
}
