@use './normalize' as *;
@use './fonts' as *;
@use './variables' as *;

body {
   font-family: 'SegoeUI', Arial, sans-serif;
   background-color: $bg-primary;
   color: $color-primary;
   min-height: 100%;
}

a {
   color: $color-accent-primary;
   text-decoration: none;
}

button {
   font-family: sans-serif;
   cursor: pointer;
   border: none;
   background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 600;
   color: $color-primary;
}

p {
   color: $color-secondary;
}

.app-container {
   padding-top: 160px;
}
