// заредачить цвета

$color-text-primary: #000000;
$color-text-secondary: #000000;

$color-accent-primary: #000000;
$color-accent-done: #000000;
$color-accent-tertiary: #000000;

$bg-primary: #ffffff;
$bg-secondary: #ffffff;
$bg-done: #ffffff;
$bg-image-overlay: #ffffff;

$bg-overlay: rgba(0, 0, 0, 0.4);
$shadow-color: rgba(0, 0, 0, 0.05);
